.task {
    display: flex;
    margin: auto;
    background: #CCA9F8;
    border-radius: 30px;
    width: 90%;
    padding: 15px;
    position: relative;
}

.task__title {
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .task {
      margin: 30px auto 30px;
    }
}